# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

/.envrc


# Added by cargo

/target

**/__pycache__/

# qir snapshots
*.snap.new

# jetbrains ide
.idea

# macOS
.DS_Store

# examples

.ipynb_checkpoints/*
examples/.ipynb_checkpoints/*


**.dylib*

docs/_build


python/tests/test_guppy_to_dfl.py
